
  <div class="container-fluid" style="padding: 55px;">

    <mat-card-title style="background-color:#1d3557; color:white; padding: 20px; border-radius: 5px">
      REGISTRO SEGUIMIENTO "TUTOR ACADEMICO"
    </mat-card-title>
    <!--BLOQUE 1-->
      <h1 style=" text-align: center;color: #0a172a; "><u>DATOS ESTUDIANTE</u></h1>
      

        <p-table #dt id="talumnos"
                dataKey="idSolicitud"
                [value]="solicitudes"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10,25,50]"
                styleClass="p-datatable-customers p-datatable-gridlines"
                [globalFilterFields]="['alumno.persona.primerNombre','alumno.persona.primerApellido']"
                >
    
                <ng-template pTemplate="caption">
                    <div class="p-grid">
                        <div class="p-col" style="text-align: right">
                            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText size="50" placeholder="Busqueda: "
                                (input)="dt.filterGlobal($any($event.target).value, 'contains')" style="width:auto">
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
    
                    <tr>
                        <th>Cedula</th>
                        <th>Nombre Estudiante</th>                      
                        <th style="width: 100px;">Seleccionar</th>
                    </tr>
                </ng-template>
    
                <ng-template pTemplate="body" let-soli>
                    <tr>
                      <td>{{soli.alumno.persona.cedula}}</td>
                      <td>{{soli.alumno.persona.primerNombre + ' ' + soli.alumno.persona.primerApellido}}</td>
                      
                        <td style="align-items: center; text-align: center;">
                            <button pButton pRipple type="button" icon="pi pi-angle-right"
                          class="p-button-rounded p-button-success" (click)="getRegistroAsistencia(soli)">
                        </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td >No hay datos.</td>
                    </tr>
                </ng-template>
    
                </p-table>


    <br> <br>
    <!--BLOQUE 2-->
    <mat-card *ngIf="estudiante!=null">
      <h3>ESTUDIANTE SELECCIONADO</h3>
      <div class="row">
        <div class="col-md-6"><span>{{estudiante.persona.cedula}}</span></div>
        <div class="col-md-6"><span>{{estudiante.persona.primerNombre+ ' ' +estudiante.persona.primerApellido }}</span></div>
      </div>
    </mat-card>
    <br><br>
    <!--BLOQUE 3-->
    <mat-card>
      <h1 style=" text-align: center;color: #0a172a; "><u>LISTA ACTIVIDADES</u></h1>
      <br><br>

      <p-table #dt id="talumnos"
                dataKey="idSolicitud"
                [value]="ListaActividadesCronograma"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[5,20,50]"
                styleClass="p-datatable-customers p-datatable-gridlines"
                >
    
               
                <ng-template pTemplate="header">
    
                    <tr>
                      <th>Fecha Seguimiento</th>  
                        <th>Descripción</th>
                        <th>Fecha Finalización</th>  
                        <th>Porcentaje de Avance</th>  
                        <th>Observaciones</th>                      
                        <th style="width: 100px;">Acciones</th>
                    </tr>
                </ng-template>
    
                <ng-template pTemplate="body" let-crono>
                    <tr>
                      <td>{{crono.fechaSeguimiento | date}}</td>
                      <td>{{crono.actividadesDiarias.descripcion}}</td>
                      <td>{{crono.fechaFinalizacion | date}}</td>
                      <td>{{crono.porcentaje}}</td>
                      <td>{{crono.observacion}}</td>
                      
                        <td style="align-items: center; text-align: center;">
                            <button pButton pRipple type="button" icon="pi pi-pencil"
                          class="p-button-rounded p-button-secondary" (click)="dialogEditarAct(crono)" >
                        </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td >No hay datos.</td>
                    </tr>
                </ng-template>
    
                </p-table>

                <div class="flex-container" *ngIf="cronograma!=null">
                  <button pButton pRipple type="button" icon="pi pi-print" 
                  class="p-button p-button-primary mt-3" (click)="generarDocAnexo()" label="Generar Archivo" > </button>
  
                  <button pButton pRipple type="button" icon="pi pi-upload" 
                  class="p-button p-button-success mt-3 ml-3" (click)="documentacion = true" label="Subir Archivo" > </button>
                  <button *ngIf="cronograma.docCronograma!=null" pButton pRipple type="button" icon="pi pi-download" 
                  class="p-button p-button-help mt-3 ml-3" (click)="downloadCronograma()" label="Descargar Archivo" > </button>
  
                </div>
           
    </mat-card>

  </div>

  <p-dialog appendTo="body" header="Editar Actividad" [(visible)]="editar" [modal]="true" [style]="{width: '50vw', height: '40vw'}"
          [maximizable]="false" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        <mat-card>

        <div class="container-fluid">
            
            <form [formGroup]="formActC">
              <div class="row">
                
                <div class="col col-md-6 mb-3" >
                  <label for="fechaFinalizacion">Fecha Finalización:</label>
                  <input [ngModel]='actCronoEdit.fechaFinalizacion | date: "yyyy-MM-dd"' (ngModelChange)='actCronoEdit.fechaFinalizacion=$event' type="date" class="form-control" id="fechaFinalizacion" formControlName="fechaFinalizacion" >
                </div>
                <div class="col col-md-6 mb-3">
                  <label for="fechaSeguimiento">Fecha Seguimiento:</label>
                  <input [ngModel]='actCronoEdit.fechaSeguimiento | date: "yyyy-MM-dd"' (ngModelChange)='actCronoEdit.fechaSeguimiento=$event' type="date" class="form-control" id="fechaSeguimiento" formControlName="fechaSeguimiento">
                </div>
                <div class="col col-md-8 mb-3">
                  <label for="observacion">Observación:</label>
                  <input [(ngModel)]="actCronoEdit.observacion" type="text" class="form-control" id="observacion" formControlName="observacion" placeholder="observacion">
                </div>
                <div class="col col-md-4 mb-3">
                  <label for="porcentaje">Porcentaje:</label>
                  <input [(ngModel)]="actCronoEdit.porcentaje" type="number" min="1" max="100" class="form-control" id="porcentaje" formControlName="porcentaje" placeholder="porcentaje">
                </div>
              </div>
              <br>
          
            </form>
        </div>
        </mat-card>
    <p-footer style="align-items: center;">
        <button type="button" pButton icon="pi pi-check"  (click)="editarActCron(actCronoEdit)" label="Editar" class="ui-button-secondary"></button>            
        <button type="button" pButton icon="pi pi-times" (click)="editar=false" label="Cancelar" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>
 

<p-dialog appendTo="body" header="Registro de Respuesta" [(visible)]="documentacion" [modal]="true" [style]="{width: '50%', height: '40vw'}"
        [maximizable]="false" [baseZIndex]="10000" [draggable]="false" [resizable]="false"
        >
        
        <div>
          <h3>Subir archivo de respuesta firmado y en pdf</h3>
          <p-fileUpload
                accept=".pdf"
                [customUpload]="true"
                [showCancelButton]="false"
                [multiple]="false"
                (uploadHandler)="onFileSelected($event)"
                chooseLabel="Seleccionar anexo"
                uploadLabel="Cargar anexo"
                invalidFileTypeMessageSummary="Archivo no valido"
                invalidFileSizeMessageDetail="Solo se acepta archivos con extensiones .pdf"
              >
              </p-fileUpload>
        </div>

        <p-footer>
            <button type="button" pButton icon="pi pi-save"   label="Guardar Archivo" (click)="updateCronograma()"></button>
            <button type="button" pButton icon="pi pi-times"  label="Cancelar" (click)="documentacion = false" class="ui-button-secondary"></button>
        </p-footer>
    </p-dialog>