table {
  width: 50%;
  height: 300px;
}

:host ::ng-deep .custom-toast .ui-toast-message {
  color: #ffffff;
  background: #FC466B;
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
  background: linear-gradient(to right, #3F5EFB, #FC466B);
}

:host ::ng-deep .custom-toast .ui-toast-close-icon {
  color: #ffffff;
}

mat-card-title{
  background-color:#1d3557;
  color:white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
