.card {
    max-width: 85%;
    margin: 5px auto;

  }
.titulo{
    text-align: center;
  }

mat-card-title{
  background-color:#1d3557;
  color:white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
