<section class="vh-100">
  <mat-card class="card">
    <mat-card-title style="background-color:#1d3557; color:white; padding: 20px; border-radius: 5px">
      VISITAS A LA INSTITUCIÓN
    </mat-card-title>
    <mat-card>
      <div>
        <div class="card card-w-title">
          <p-table #dt id="tresponsable" [value]="registrotutor" [paginator]="true" [columns]="columnasTutor" [rows]="1"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
            [globalFilterFields]="['primerNombre','primerApellido']">

            <ng-template pTemplate="caption">
              <div class="p-grid">
                <div class="p-col" style="text-align: left;">
                  <p>Lista de Tutores para la Visita</p>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columnasResponsable>
              <tr>
                <th *ngFor="let col of columnasTutor">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body">
              <tr *ngFor="let tutor of registrotutor">
                <td>{{tutor.idTutorAcademico}}</td>
                <td>{{tutor.docente.persona.primerNombre}}</td>
                <td>{{tutor.docente.persona.segundoNombre}}</td>
                <td>{{tutor.alumno.idAlumno}}</td>
                <td>{{tutor.alumno.persona.primerNombre}}</td>
                <td>{{tutor.alumno.persona.segundoNombre}}</td>
                <td>
                  <button class="btn btn-sm btn-primary"
                    (click)="miEvaluacion(tutor.alumno.idAlumno,tutor.idTutorAcademico,tutor.docente.persona.primerNombre+' '+tutor.docente.persona.primerApellido)">Seleccionar</button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="columnasTutor.length">No hay datos.</td>
              </tr>
            </ng-template>

          </p-table>

        </div>
      </div>
      <div class="col">
        <button type="submit" class="btn" [routerLink]="['/gestion-visitas']"
          style="background:aqua; color: white;">Visitas</button>
      </div>

    </mat-card>
  </mat-card>


  <p-dialog [(visible)]="dialogoPasos" [style]="{width: '60vw', height: '40vw'}" [draggable]="false"
    [baseZIndex]="10000" [modal]="true" styleClass="p-fluid">
    <div class="container-fluid">
      <form [formGroup]="formInforme" *ngFor="let alumno of alumnos">
        <div *ngIf="alumno.idAlumno==id">
          <h3 class="titulo"><strong>Informe Visita</strong></h3>
          <div class="form-group" style="text-align: center;">
            <b><label>DATOS ESTUDIANTE</label></b>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>CÉDULA:</label>
              <input class="form-control" placeholder="{{alumno.persona.cedula |uppercase}}" disabled="true">
            </div>
            <div class="form-group col-md-6">
              <label for="horasPPP">ALUMNO:</label>
              <input class="form-control"
                placeholder="{{alumno.persona.primerApellido |uppercase}} {{alumno.persona.segundoApellido |uppercase}} {{alumno.persona.primerNombre |uppercase}} {{alumno.persona.segundoNombre |uppercase}}"
                disabled="true">
            </div>
            <div class="form-group col-md-6">
              <label for="horasPPP">CICLO:</label>
              <input class="form-control" placeholder="{{alumno.ciclo |uppercase}} {{alumno.paralelo |uppercase}}"
                disabled="true">
            </div>
            <div class="form-group col-md-6">
              <label for="horasPPP">CARRERA:</label>
              <input class="form-control" placeholder="{{alumno.carrera.abreviatura |uppercase}}" disabled="true">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="fecha">Fecha de Visita (yyyy-MM-dd):</label>
              <input type="date" class="form-control" [(ngModel)]="informe.fecha" id="fecha" formControlName="fecha"
                placeholder="Ingrese la Fecha de Visita">
            </div>
            <div class="form-group col-md-6">
              <label for="horainicio">Hora Inicio:</label>
              <input type="time" class="form-control" id="horainicio" formControlName="horainicio"
                [(ngModel)]="informe.horaInicio">
            </div>
            <div class="form-group col-md-6">
              <label for="horafin">Hora Fin:</label>
              <input type="time" class="form-control" id="horafin" formControlName="horafin"
                [(ngModel)]="informe.horaFin">
            </div>
            <div class="form-group col-md-6">
              <label for="asunto">Asunto a tratar:</label>
              <textarea type="text" class="form-control" id="asunto" formControlName="asunto"
                [(ngModel)]="informe.asunto" placeholder="Ingrese el Asunto de la Reunion"></textarea>
            </div>
            <div class="form-group col-md-6">
              <label for="observaciones">Observaciones:</label>
              <textarea type="text" class="form-control" id="observaciones" formControlName="observaciones"
                [(ngModel)]="informe.observaciones" placeholder="Observaciones de la Visita"></textarea>
            </div>
            <div class="form-group col-md-6">
              <label for="numHoras">SUBIR DOCUMENTO:</label>
              <input class="form-control" type="file" (change)="onFileSelected($event)" accept=".pdf" />
            </div>
            <div class="form-group col-md-6">
              <label for="observaciones">Observaciones Generales de Visita:</label>
              <textarea type="text" class="form-control" id="observaciones" formControlName="observaciones"
                [(ngModel)]="registro.observaciones" placeholder="Observaciones Generales de la Visita"></textarea>
            </div>
          </div>

          <br><br>
          <div class="row">
            <div class="col">
              <button type="submit" (click)='create(alumno.idAlumno,registro.observaciones)' class="btn"
                style="background: #1d3557; color: white;">REGISTRO DE INFORME VISITA</button>

            </div>
            <div class="col">
              <button type="submit"
                (click)=' generate(alumno.carrera.abreviatura,alumno.persona.primerNombre+" "+alumno.persona.segundoNombre+" "+alumno.persona.primerApellido+" "
                +alumno.persona.segundoApellido,alumno.carrera.abreviatura,informe.fecha,informe.horaInicio,informe.horaFin,informe.asunto,informe.observaciones,registro.observaciones)'
                class="btn" pButton icon="pi pi-download" label="DESCARGAR DOCUMENTO"
                style="background: #5c1818; color: white;"></button>
            </div>
            <div class="col">
              <button type="submit" (click)='createInformeVisita()' class="btn"
                style="background: #1d3557; color: white;">GUARDAR VISITA</button>

            </div>

          </div>
        </div>
      </form>
    </div>
  </p-dialog>
</section>