h1{
  color: black;
  font-size:30px;
  text-align: center;
}

img {
  position: relative;
  right: 50%;
  left: 50%;
  margin-right: -50vw;
  margin-left: -50vw;
  width: 100vw;
  height: 250px;
  max-width: 100vm;
}

