<div>
  <br>
  <h1>Grupo #1 - Caso #2</h1>
  <br>
  <img src="assets/imagen/dashboard.png">
</div>
<br>
<ul>
  <li><h2>Desarrolladores</h2>
    <ol>
      <li>KEVIN VINICIO AGUILAR LITUMA
      <li>PATRICIO ROLANDO CUEVA GONZAGA
      <li>FRANKLIN SANTIAGO DOMÍNGUEZ YANQUE
      <li>KEVIN ALEXANDER HERNÁNDEZ VÁSQUEZ
      <li>MARIELLA LISSETH NIEVES LUPERCIO
      <li>GISELLE XIMENA ORTIZ VILLALTA
      <li>ROLANDO PATRICIO REMACHE ORTIZ
      <li>CHRISTIAN PATRICIO SALINAS VILLA
      <li>VERÓNICA LORENA SARI MOLINA
      <li>LISSETH THALÍA SIZALIMA GUAYLLASACA

    </ol>
</ul>
