<section>
  <mat-card>
    <mat-card-title style="background-color:#1d3557; color:white; padding: 20px; border-radius: 5px">
      CERTIFICAR ALUMNOS
    </mat-card-title>
  </mat-card>
  <br>
  <div *ngFor="let lisTutorEmpresarial of listaTutorEmpresarial">
    <div *ngIf="lisTutorEmpresarial.control == 'matutino'">
      <div *ngFor="let listaSolicitudA of listasolicitudAlumnos">
        <div *ngIf="listaSolicitudA.alumno.persona.cedula == lisTutorEmpresarial.alumno.persona.cedula">
          <mat-card-content>
            <mat-card class="card">
              <div>
                <mat-card-header>
                  <mat-card-title style=" text-align: center">
                    <h2 style=" text-align: center">{{lisTutorEmpresarial.alumno.carrera.nombre}}
                    </h2>
                  </mat-card-title>
                </mat-card-header>
                <span class="example-spacer"></span>
                <mat-card-content>
                  <p><strong>CÉDULA: </strong> {{lisTutorEmpresarial.alumno.persona.cedula}}
                  <p><strong>NOMBRE ESTUDIANTE: </strong>{{lisTutorEmpresarial.alumno.persona.primerNombre|uppercase}}
                    {{lisTutorEmpresarial.alumno.persona.primerApellido|uppercase}}
                    {{lisTutorEmpresarial.alumno.persona.segundoApellido|uppercase}}
                  <p><strong>NOMBRE TUTOR:
                    </strong>{{lisTutorEmpresarial.personalEmpresa.persona.primerNombre|uppercase}}
                    {{lisTutorEmpresarial.personalEmpresa.persona.primerApellido|uppercase}}
                    {{lisTutorEmpresarial.personalEmpresa.persona.segundoApellido|uppercase}}</p>
                  <p><strong>EMPRESA: </strong>{{lisTutorEmpresarial.personalEmpresa.empresa.nombreEmpresa|uppercase}}
                  </p>
                  <p><strong>HORAS: </strong> {{listaSolicitudA.horasPPP}}


                  <div class="col-sm-5 offset-sm-9 col-md-8 offset-md-3">
                    <br>
                    <button class="mat-flat-button" style="background: #38821d; color: rgb(230, 225, 225);" pButton
                      icon="pi pi-arrow-circle-right" label="CERTIFICAR"
                      (click)="showGuarda(lisTutorEmpresarial.alumno.carrera.nombre,lisTutorEmpresarial.personalEmpresa.persona.primerNombre+' '+lisTutorEmpresarial.personalEmpresa.persona.primerApellido,lisTutorEmpresarial.alumno.persona.primerNombre+' '+lisTutorEmpresarial.alumno.persona.segundoNombre+' '+lisTutorEmpresarial.alumno.persona.primerApellido+' '+lisTutorEmpresarial.alumno.persona.segundoApellido,lisTutorEmpresarial.alumno.persona.cedula,lisTutorEmpresarial.personalEmpresa.persona.cedula,listaSolicitudA.horasPPP,lisTutorEmpresarial.personalEmpresa.empresa.nombreEmpresa,lisTutorEmpresarial.idTutorEmpresarial)"></button>
                  </div>



                </mat-card-content>

              </div>

            </mat-card>
          </mat-card-content>
        </div>

      </div>
    </div>
  </div>
</section>

<!--------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------------------------>
<!--Dialogo para mandar solicitud-->
<p-dialog [(visible)]="dialogoGuardaryGenerar" [style]="{width:'37vw'}" [draggable]="false" [baseZIndex]="10000"
  [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">

    <mat-card class="card" style="width: 100%;">

      <form [formGroup]="formGuardar">

        <mat-card>

          <!--LINEA 2-->



          <BR>
          <div>
            <label for="horaSalida">SELECCIONE DOCUMENTO</label>
            <input class="form-control" type="file" (change)="onFileSelected($event)" accept=".pdf" />
          </div>

          <br>

          <!--botones-->

          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button" style="background: #9f2a2a; color: white;
              " (click)="generate()">DESCARGAR
              DOCUMENTO</button>
            <button class="btn btn-primary" type="button" style="background: #28528d; color: white;"
              (click)="create()">SUBIR
              DOCUMENTO</button>
          </div>
        </mat-card>

      </form>

    </mat-card>

  </ng-template>

</p-dialog>