<div class="container-fluid" style="text-align:center; padding: 55px;">

  <mat-card-title style="background-color:#1d3557; color:white; padding: 20px; border-radius: 5px">
     Informe final- Tutor Academico
  </mat-card-title>
  <br><br>
  <mat-card>
      <div class="container-fluid">
          <form [formGroup]="formActa">
            <div class="form-row">
                <div class="form-group col-md-9">
                    
                </div>
                <div class="form-group col-md-3">
                    <label for="fecha">Fecha</label>
                    <input type="date" class="form-control"  id="fecha" formControlName="fecha" >

                </div>
                
            </div>
            <p-divider align="left" type="dashed">
                <div class="inline-flex align-items-center">
                    <i class="pi pi-user mr-2"></i>
                    <b>Datos estudiante</b>
                </div>
            </p-divider>
            <div class="form-row">
                <div class="form-group col-md-4">
                    
                    <label for="alumno">Buscar estudiante:</label>
                    <br>
                    <p-dropdown 
                        [options]="alumnos" 
                        [(ngModel)]="alumnoPPP" 
                        optionLabel="cedula" 
                        [showClear]="true" 
                        (onChange)="OnChangeAlumno($event)"
                        formControlName="alumno"
                        [filter]="true" 
                        filterBy="primer_nombre"
                        [showClear]="true"
                        >
                        <ng-template let-doc pTemplate="item">
                            <div class="country-item">
                                
                                <div>{{doc.primer_nombre}} {{doc.segundo_nombre}} {{doc.primer_apellido}} {{doc.segundo_apellido}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="form-group col-md-8" >
                    <label for="est">Prácticas pre profesionales desarrolladas por <b>{{alumnoPPP.primer_nombre}} {{alumnoPPP.segundo_nombre}} {{alumnoPPP.primer_apellido}} {{alumnoPPP.segundo_apellido}}</b> estudiante del ciclo <b>{{alumnoPPP.ciclo}}</b>  de la carrera de <b>{{alumnoPPP.carrera}}</b></label>
                
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                    
                <label for="empresa">Buscar empresa:</label>
                <br>
                <p-dropdown 
                    [options]="empresas" 
                    optionLabel="nombreEmpresa" 
                    [showClear]="true" 
                    (onChange)="OnChangeEmpresa($event)"
                    formControlName="empresa"
                    [filter]="true" 
                    filterBy="nombreEmpresa"
                    [showClear]="true"
                    >
                    <ng-template let-emp pTemplate="item">
                        <div class="country-item">
                          
                            <div>{{emp.nombreEmpresa}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
              </div>
              <div class="form-group col-md-8" >
                  <label for="empresa">Las practicas pre profesionales se llevarón acabo en la empresa <b>{{empresaPPP.nombreEmpresa}} </b></label>
              
              </div>
            </div> 
            <p-divider align="left" type="dashed">
                <div class="inline-flex align-items-center">
                    <i class="pi pi-user mr-2"></i>
                    <b>Responsables practicas pre-profesionales</b>
                </div>
            </p-divider>
            <div class="form-row">
                <div class="form-group col-md-4">
                    
                <label for="docente">Responsable carrera:</label>
                <br>
                <p-dropdown 
                    [options]="docentes" 
                    [(ngModel)]="docentePPP" 
                    optionLabel="cedula" 
                    [showClear]="true" 
                    (onChange)="OnChangeReponsable($event)"
                    formControlName="docente"
                    [filter]="true" 
                    filterBy="primer_nombre"
                    [showClear]="true"
                    >
                    <ng-template let-doc pTemplate="item">
                        <div class="country-item">
                            
                            <div>{{doc.primer_nombre}} {{doc.segundo_nombre}} {{doc.primer_apellido}} {{doc.segundo_apellido}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                </div>
                <div class="form-group col-md-8" >
                    <label for="titulo"><b> {{docentePPP.abrev_titulo}} {{docentePPP.primer_nombre}} {{docentePPP.segundo_nombre}} {{docentePPP.primer_apellido}} {{docentePPP.segundo_apellido}}</b>, Responsable de Praticas Pre-Profesionales  de la carrera <b> {{docentePPP.carrera}} </b> del Instituto Superior Tecnológico del Azuay.</label>
                </div>
            </div> 
            <div class="form-row">
              <div class="form-group col-md-4">
                  
                <label for="tutor">Tutor Academico:</label>
                <br>
                <p-dropdown 
                    [options]="docentes" 
                    [(ngModel)]="tutord" 
                    optionLabel="cedula" 
                    [showClear]="true" 
                    (onChange)="OnChangeTutorA($event)"
                    formControlName="tutor"
                    [filter]="true" 
                    filterBy="primer_nombre"
                    [showClear]="true"
                    >
                    <ng-template let-doc pTemplate="item">
                        <div class="country-item">
                          
                            <div>{{doc.primer_nombre}} {{doc.segundo_nombre}} {{doc.primer_apellido}} {{doc.segundo_apellido}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                </div>
              <div class="form-group col-md-8" >
                  <label for="titulo"> Tutor académico responsable de las practicas pre profesionales del estudiante:  <b>{{tutord.abrev_titulo}} {{tutord.primer_nombre}} {{tutord.segundo_nombre}} {{tutord.primer_apellido}} {{tutord.segundo_apellido}}</b> </label>
              </div>
            </div> 
            <p-divider align="left" type="dashed">
              <div class="inline-flex align-items-center">
                  <i class="pi pi-user mr-2"></i>
                  <b>Horas cumplidas y el periodo</b>
              </div>
            </p-divider>
          
            <div class="form-row">
              <div class="form-group col-md-6">
              <label for="horas">Horas cumplidas:</label>
              <input type="number" class="form-control"  id="horas"  formControlName="horas" placeholder="Ingrese el numero de horas">
              </div>
              <div class="form-group col-md-6">
                  <label for="periodo">Periodo en que se realizo las practicas:</label>
                  <input type="text" class="form-control" id="periodo"  formControlName="periodo" placeholder="Ingrese el periodo de  las practicas">
              </div>
            </div>
            <p-divider align="left" type="dashed">
              <div class="inline-flex align-items-center">
                  <i class="pi pi-user mr-2"></i>
                  <b>Notas obtenidas</b>
              </div>
            </p-divider>
            <div class="form-row">
              <div class="form-group col-md-6">
              <label for="notaA">Calificación de Tutor Academico:</label>
              <input type="number" class="form-control"  id="notaA"  formControlName="notaA" placeholder="Ingrese la calificación del tutor academico">
              </div>
              <div class="form-group col-md-6">
                  <label for="notaE">Calificación de Tutor Empresarial:</label>
                  <input type="number" class="form-control" id="notaE"  formControlName="notaE" placeholder="Ingrese la calificación del tutor empresarial">
              </div>
            </div>
            
          </form>
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>Evaluado por</th>
                <th>Nota obtenida</th>
                <th>Porcentaje que representa</th>
                <th>Nota acreditada</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Tutor académico</td>
                <td>{{this.formActa.get('notaA').value}}/100</td>
                <td>40%</td>
                <td>{{(this.formActa.get('notaA').value)*0.40}}/40</td>
              </tr>
              <tr>
                <td>Tutor empresarial</td>
                <td>{{this.formActa.get('notaE').value}}/100</td>
                <td>60%</td>
                <td>{{(this.formActa.get('notaE').value)*0.60}}/60</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Total</td>
                <td>{{(((this.formActa.get('notaA').value)*0.40)+((this.formActa.get('notaE').value)*0.60))}}/100</td>
              </tr>
            </tbody>
        </table>
          <p-table responsiveLayout="scroll">
            <ng-template pTemplate="header">
                
            </ng-template>
            <ng-template pTemplate="body" let-p>
                
            </ng-template>
        </p-table>
          <br><br><br>
          <div class="form-row">
              <div class="form-group col-md-9">
                  <p-fileUpload 
                  [customUpload]="true"
                  [showCancelButton]="false"
                  [multiple]="false"
                  (uploadHandler)="onFileSelected($event)"
                  chooseLabel="Seleccionar anexo"
                  uploadLabel="Cargar anexo"
                  invalidFileTypeMessageSummary="Archivo no valido"
                  invalidFileSizeMessageDetail="Solo se acepta archivos con extensiones .doc - docx."
              >
                      <ng-template pTemplate="content">
                          <ul *ngIf="uploadedFiles.length">
                              <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                          </ul>
                      </ng-template>
                  </p-fileUpload>
              </div>
              <div class="form-group col-md-3">
                  <button pButton pRipple (click)="GenerarNotificacion()" type="button" label="Generar Acta" class="p-button-warning"></button>
              </div>
          </div>

      </div>
  </mat-card>
</div>
