<section class="vh-100" style="padding: 55px;">
    <mat-card >
      <mat-card-title style="background-color:#1d3557; color:white; padding: 33px; border-radius: 5px">
        Registro de Empresa
      </mat-card-title>
      <div class="container-fluid" >
      <form [formGroup]="formEmpresa">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="ruc">RUC:</label>
            <input type="number" class="form-control" [(ngModel)]="empresa.ruc" id="ruc"  formControlName="ruc" placeholder="Ingrese el RUC">
            <div *ngIf="formEmpresa.get('ruc').errors && formEmpresa.get('ruc').dirty || formEmpresa.controls['ruc'].touched">
              <p-message *ngIf="formEmpresa.get('ruc').hasError('required')" severity="warn" text="El campo NO debe estar esta vacio" styleClass="mr-2"></p-message>
            </div>
          
          </div>
          <div class="form-group col-md-3">
            <label for="naturaleza">Naturaleza:</label>
            <input type="text" class="form-control" [(ngModel)]="empresa.naturaleza" id="naturaleza"  formControlName="naturaleza" placeholder="Pública/Privada" onkeydown="return /[a-z, ]/i.test(event.key)">
            <div *ngIf="formEmpresa.get('naturaleza').errors && formEmpresa.get('naturaleza').dirty || formEmpresa.controls['naturaleza'].touched">
              <p-message *ngIf="formEmpresa.get('naturaleza').hasError('required')" severity="warn" text="El campo NO debe estar esta vacio" styleClass="mr-2"></p-message>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="empresa">Nombre Empresa:</label>
            <input type="text" class="form-control" id="empresa"  formControlName="empresa" [(ngModel)]="empresa.nombreEmpresa" placeholder="Ingrese el nombre de la empresa" onkeydown="return /[a-z, ]/i.test(event.key)">
            <div *ngIf="formEmpresa.get('empresa').errors && formEmpresa.get('empresa').dirty || formEmpresa.controls['empresa'].touched">
              <p-message *ngIf="formEmpresa.get('empresa').hasError('required')" severity="warn" text="El campo NO debe estar esta vacio" styleClass="mr-2"></p-message>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="vision">Visión:</label>
          <input type="text" class="form-control" id="vision" formControlName="vision" [(ngModel)]="empresa.vision"  placeholder="Ingrese la visión de la empresa" onkeydown="return /[a-z, ]/i.test(event.key)">
          <div *ngIf="formEmpresa.get('vision').errors && formEmpresa.get('vision').dirty || formEmpresa.controls['vision'].touched">
            <p-message *ngIf="formEmpresa.get('vision').hasError('required')" severity="warn" text="El campo NO debe estar esta vacio" styleClass="mr-2"></p-message>
          </div>
        </div>
        <div class="form-group">
          <label for="mision">Misión:</label>
          <input type="text" class="form-control" id="mision" formControlName="mision" [(ngModel)]="empresa.mision"  placeholder="Ingrese la misión de la empresa" onkeydown="return /[a-z, ]/i.test(event.key)">
          <div *ngIf="formEmpresa.get('mision').errors && formEmpresa.get('mision').dirty || formEmpresa.controls['mision'].touched">
            <p-message *ngIf="formEmpresa.get('mision').hasError('required')" severity="warn" text="El campo NO debe estar esta vacio" styleClass="mr-2"></p-message>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="telefono">Telefono:</label>
            <input type="number" class="form-control"  id="telefono" formControlName="telefono" [(ngModel)]="empresa.telefono"  placeholder="123456789">
            <div *ngIf="formEmpresa.get('telefono').errors && formEmpresa.get('telefono').dirty || formEmpresa.controls['telefono'].touched">
              <p-message *ngIf="formEmpresa.get('telefono').hasError('required')" severity="warn" text="El campo NO debe estar esta vacio" styleClass="mr-2"></p-message>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="direccion">Direccion:</label>
            <input type="text" class="form-control" id="direccion" formControlName="direccion" [(ngModel)]="empresa.direccion"  placeholder="Apartamento, ciudad y provincia">
            <div *ngIf="formEmpresa.get('direccion').errors && formEmpresa.get('direccion').dirty || formEmpresa.controls['direccion'].touched">
              <p-message *ngIf="formEmpresa.get('direccion').hasError('required')" severity="warn" text="El campo NO debe estar esta vacio" styleClass="mr-2"></p-message>
            </div>
          </div>
        </div>
        <br><br>
        <div class="row text-center">
          <div class="col">
            <button type="submit" (click)='create()' class="btn" style="background: #1d3557; color: white;">Registrar Empresa</button>
          </div>
          <div class="col">
            <button type="submit" class="btn" [routerLink]="['/gestion-empresa']" style="background: green; color: white;">Empresas</button>
          </div>

        </div>

      </form>

    </div>
    </mat-card>

    <p-dialog header="Registrar Gerente" [(visible)]="rempleado" [modal]="true" [style]="{width: '80%', height: '40vw'}"
        [maximizable]="false" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

        <form [formGroup]="formEmpleado" >
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="cedula">Cédula:</label>
              <input  type="number" class="form-control" id="cedula"
                      formControlName="cedula" placeholder="Cédula" [(ngModel)]="persona.cedula">
                      <div *ngIf="formEmpleado.get('cedula').errors && formEmpleado.get('cedula').dirty || formEmpleado.controls['cedula'].touched">
                        <p-message *ngIf="formEmpleado.get('cedula').hasError('required')" severity="warn" text="El campo NO debe estar esta vacio" styleClass="mr-2"></p-message>
                      </div>
            </div>
            <div class="form-group col-md-3">
              <label for="primernombre">Primer Nombre:</label>
              <input  type="text" class="form-control" id="primerNombre"
                      formControlName="primerNombre" placeholder="Primer Nombre" [(ngModel)]="persona.primerNombre" onkeydown="return /[a-z, ]/i.test(event.key)">
                      <div *ngIf="formEmpleado.get('primerNombre').errors && formEmpleado.get('primerNombre').dirty || formEmpleado.controls['primerNombre'].touched">
                        <p-message *ngIf="formEmpleado.get('primerNombre').hasError('required')" severity="warn" text="El campo NO debe estar esta vacio" styleClass="mr-2"></p-message>
                      </div>
                
            </div>
            <div class="form-group col-md-3">
              <label for="segundoNombre">Segundo Nombre:</label>
              <input  type="text" class="form-control" id="segundoNombre"
                      formControlName="segundoNombre" placeholder="Segundo Nombre" [(ngModel)]="persona.segundoNombre" onkeydown="return /[a-z, ]/i.test(event.key)">
                      <div *ngIf="formEmpleado.get('segundoNombre').errors && formEmpleado.get('segundoNombre').dirty || formEmpleado.controls['segundoNombre'].touched">
                        <p-message *ngIf="formEmpleado.get('segundoNombre').hasError('required')" severity="warn" text="El campo NO debe estar esta vacio" styleClass="mr-2"></p-message>
                      </div>
            </div>
            <div class="form-group col-md-3">
              <label for="primerApellido">Primer Apellido:</label>
              <input type="text" class="form-control" id="primerApellido"
                     formControlName="primerApellido" placeholder="Primer Apellido" [(ngModel)]="persona.primerApellido" onkeydown="return /[a-z, ]/i.test(event.key)">
                     <div *ngIf="formEmpleado.get('primerApellido').errors && formEmpleado.get('primerApellido').dirty || formEmpleado.controls['primerApellido'].touched">
                       <p-message *ngIf="formEmpleado.get('primerApellido').hasError('required')" severity="warn" text="El campo NO debe estar esta vacio" styleClass="mr-2"></p-message>
                     </div>
            </div>
            <div class="form-group col-md-3">
              <label for="segundoApellido">Segundo Apellido:</label>
              <input  type="text" class="form-control" id="segundoApellido"
                      formControlName="segundoApellido" placeholder="Segundo Apellido" [(ngModel)]="persona.segundoApellido" onkeydown="return /[a-z, ]/i.test(event.key)">
                      <div *ngIf="formEmpleado.get('segundoApellido').errors && formEmpleado.get('segundoApellido').dirty || formEmpleado.controls['segundoApellido'].touched">
                        <p-message *ngIf="formEmpleado.get('segundoApellido').hasError('required')" severity="warn" text="El campo NO debe estar esta vacio" styleClass="mr-2"></p-message>
                      </div>
            </div>
            <div class="form-group col-md-3">
              <label for="fechaNac">Fecha de Nacimiento</label>
              <input type="date" class="form-control" id="fechaNac" formControlName="fechaNac"
                     placeholder="Ingrese la fecha de nacimiento" [(ngModel)]="persona.fechaNac">
            </div>
            <div class="form-group col-md-3">
              <label for="direccion">Dirección:</label>
              <input type="text" class="form-control" id="direccion" formControlName="direccion"
                     placeholder="Ingrese la dirección" [(ngModel)]="persona.direccion">
                     <div *ngIf="formEmpleado.get('direccion').errors && formEmpleado.get('direccion').dirty || formEmpleado.controls['direccion'].touched">
                       <p-message *ngIf="formEmpleado.get('direccion').hasError('required')" severity="warn" text="El campo NO debe estar esta vacio" styleClass="mr-2"></p-message>
                     </div>
            </div>
            <div class="form-group col-md-3">
              <label for="telefono">Telefono:</label>
              <input type="text" class="form-control" id="telefono" formControlName="telefono"
                     placeholder="123456789" [(ngModel)]="persona.telefono">
                     <div *ngIf="formEmpleado.get('telefono').errors && formEmpleado.get('telefono').dirty || formEmpleado.controls['telefono'].touched">
                      <p-message *ngIf="formEmpleado.get('telefono').hasError('required')" severity="warn" text="El campo NO debe estar esta vacio" styleClass="mr-2"></p-message>
                    </div>
            </div>
            <div class="form-group col-md-3">
              <label for="correo">Correo:</label>
              <input type="text" class="form-control" id="correo" formControlName="correo"
                     placeholder="Ingrese el correo eléctronico" [(ngModel)]="persona.correo" >
                     <div *ngIf="formEmpleado.get('correo').errors && formEmpleado.get('correo').dirty || formEmpleado.controls['correo'].touched">
                       <p-message *ngIf="formEmpleado.get('correo').hasError('required')" severity="warn" text="El campo NO debe estar esta vacio" styleClass="mr-2"></p-message>
                     </div>
            </div>
            
            <div class="form-group col-md-3">
              <label for="abrev_titulo">Título:</label>
              <input  type="text" class="form-control" id="abrev_titulo"
                      formControlName="abrev_titulo" placeholder="Abreviatura Titulo" [(ngModel)]="empleado.abrev_titulo" onkeydown="return /[a-z, ]/i.test(event.key)">
                      <div *ngIf="formEmpleado.get('abrev_titulo').errors && formEmpleado.get('abrev_titulo').dirty || formEmpleado.controls['abrev_titulo'].touched">
                        <p-message *ngIf="formEmpleado.get('abrev_titulo').hasError('required')" severity="warn" text="El campo NO debe estar esta vacio" styleClass="mr-2"></p-message>
                      </div>
            </div>
          </div>
          <br>
          <mat-card-actions>
            
    
          </mat-card-actions>
        </form>
       
        <p-footer>
          <button mat-raised-button color="primary" (click)="verficardATOS()" >Crear Empleado</button>
            <button type="button" pButton icon="pi pi-times" (click)="rempleado=false" label="Cancelar" class="ui-button-secondary"></button>
        </p-footer>
    </p-dialog>
</section>




