<section class="vh-100">
  <div class="container-fluid" style="padding: 55px;">
    <mat-card-title  style="background-color:#1d3557; color:white; padding: 20px; border-radius: 5px">
      Evaluación Tutor Empresarial
    </mat-card-title>

    <mat-card>
      <div>
        <div class="card card-w-title">
          <p-table #dt id="ttutorE" [value]="tutorEm" [paginator]="true" [columns]="columnasTutorEm" [rows]="1"
                   [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
                   [globalFilterFields]="['primerNombre','primerApellido']">

            <ng-template pTemplate="caption">
              <div class="p-grid" >
                <div class="p-col" style="text-align: left;" >
                  <p >Información</p>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columnasTutorEm>
              <tr>
                <th class="bg-warning" *ngFor="let col of columnasTutorEm">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body">
              <tr *ngFor="let tutorem of tutorEm">
                <td>{{tutorem.personalEmpresa.persona.cedula |uppercase}}</td>
                <td>{{tutorem.personalEmpresa.persona.primerNombre+" "+tutorem.personalEmpresa.persona.segundoNombre}}</td>
                <td>{{tutorem.personalEmpresa.persona.primerApellido+" "+tutorem.personalEmpresa.persona.segundoApellido}}</td>
                <td>{{tutorem.alumno.persona.cedula |uppercase}}</td>
                <td  >{{tutorem.alumno.persona.primerNombre+" "+tutorem.alumno.persona.segundoNombre}}</td>
                <td>{{tutorem.alumno.persona.primerApellido+" "+tutorem.alumno.persona.segundoApellido}}</td>
                <td>
                  <button class="btn btn-sm btn-primary"
                          (click)="Evaluacion(tutorem.alumno.idAlumno,tutorem.idTutorEmpresarial,tutorem.personalEmpresa.persona.primerNombre+' '+tutorem.personalEmpresa.persona.primerApellido)">Evaluar</button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="columnasTutorEm.length">No hay datos.</td>
              </tr>
            </ng-template>

          </p-table>

        </div>
      </div>
    </mat-card>
  </div>
</section>
-----------------------------------------------
<p-dialog [visible]="dialogoCrearEva" [style]="{width:'60vw'}" [draggable]="false" [baseZIndex]="10000"
          [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <mat-card>
      <form [formGroup]="formEva" *ngFor="let alumno of alumnos">
        <div *ngIf="alumno.idAlumno==id">
          <div class="form-group" style="text-align: center;">
            <b><label>DATOS ESTUDIANTE</label></b>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>CÉDULA:</label>
              <input class="form-control" placeholder="{{alumno.persona.cedula |uppercase}}" readonly=»readonly»>
            </div>
            <div class="form-group col-md-6">
              <label>ALUMNO:</label>
              <input class="form-control"
                     placeholder="{{alumno.persona.primerApellido |uppercase}} {{alumno.persona.segundoApellido |uppercase}} {{alumno.persona.primerNombre |uppercase}} {{alumno.persona.segundoNombre |uppercase}}" readonly=»readonly»>
            </div>
            <div class="form-group col-md-6">
              <label >CARRERA:</label>
              <input class="form-control" placeholder="{{alumno.carrera.nombre |uppercase}}" readonly=»readonly»>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>CURSO:</label>
              <input class="form-control" placeholder="{{alumno.ciclo |uppercase}} {{alumno.paralelo |uppercase}}" readonly=»readonly»>
            </div>
            <br><br>
            <div class="form-group col-md-6">
              <label for="numHoras">SUBIR DOCUMENTO:</label>
              <input class="form-control" type="file" (change)="onFileSelected($event)" accept=".pdf" />
            </div>
            <div class="form-group col-md-6">
              <label>DESDE:</label>
              <input type="date" class="form-control" id="desde" formControlName="desde"
                     [(ngModel)]="evaluacionTe.desde">
            </div>

            <div class="form-group col-md-6">
              <label>HASTA:</label>
              <input type="date" class="form-control" id="hasta" formControlName="hasta"
                     [(ngModel)]="evaluacionTe.hasta">
            </div>
          </div>
          <h2 style="color: #000000; text-align:center;">
            <p>Valore el desempeño del Practicamente, calificando y registrando la calificación en cada uno de los
              aspectos
              descritos utilizando los siguientes parametros.</p>
            <p> (1)Deficiente (5)Regular (10)Bueno (15)Muy Bueno (20)Sobresaliente</p>
          </h2>
          <form>
            <table class="table table-striped" id="tablaCalificacion">
              <thead>
              <tr>
                <th>Parametros</th>
                <th>
                  <p>Calificación</p>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>a. Asistencia y Puntualidad.</td>
                <td> <input type="number" min="0" max="20" name="opcionA1" required [(ngModel)]="opcionA1">
                </td>
              </tr>
              <tr>
                <td> b. Cumplimiento de normas establecidad por la entidad receptora.</td>
                <td> <input type="number" min="0" max="20" name="opcionB1" required [(ngModel)]="opcionB1">
                </td>
              </tr>
              <tr>
                <td> c. Compromiso y responsabilidad frente al trabajo.</td>
                <td> <input type="number" min="0" max="20" name="opcionC1" required [(ngModel)]="opcionC1">
                </td>
              </tr>
              <tr>
                <td> d. Integración y actitud de colaboración con los miembros del equipo de la empresa.</td>
                <td> <input type="number" min="0" max="20" name="opcionD1" required [(ngModel)]="opcionD1">
                </td>
              </tr>
              <tr>
                <td> e. Valoración de los resultados tomando como base las actividades encomendadas al estudiante, así
                  como el cumplimiento en los plazos establecidos. </td>
                <td> <input type="number" min="0" max="20" name="opcionE1" required [(ngModel)]="opcionE1">
                </td>
              </tr>
              </tbody>
            </table>
          </form>

          <!-- BLOQUE CALIFICACION -->
          <h1 ><u>NOTA</u></h1>
          <div id="nota" class="d-grid gap-2 col-6 mx-auto" style="background-color:#f9f9f7">
            <br>
            <label>PUNTAJE TOTAL:</label>
            <input type="text" placeholder="{{puntajeTotal}}">
            <br>
            <label>Número de horas: </label>
            <input type="number" class="form-control" id="numHoras" formControlName="numHoras"
                   [(ngModel)]="evaluacionTe.numHoras">
            <br>
          </div>
          <br><br>

          <!-- BLOQUE BOTON CALIFICAR -->
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button" (click)="sumar()">CALIFICAR ESTUDIANTE</button>
          </div>
          <br><br>
          <div class="row">
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
              <button type="submit"
                      (click)=' generate(alumno.persona.cedula,alumno.persona.primerNombre+" "+alumno.persona.segundoNombre+" "+alumno.persona.primerApellido+" "
              +alumno.persona.segundoApellido,alumno.persona.cedula,alumno.carrera.nombre,evaluacionTe.desde,evaluacionTe.hasta,opcionA1,opcionB1,opcionC1,opcionD1,opcionE1,puntajeTotal,evaluacionTe.numHoras,alumno.carrera.nombreu )'
                      class="btn" pButton icon="pi pi-download" label="DESCARGAR DOCUMENTO"
                      style="background: #5c1818; color: white;"></button>
            </div>
            <br><br>
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
              <button type="submit" (click)='create(puntajeTotal)' class="btn"
                      style="background: #1d3557; color: white;" pButton icon="pi pi-save" label="ENVIAR SOLICITUD"></button>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </ng-template>
</p-dialog>
