.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}

.h1{
    background-color:#1d3557; 
    color:white; 
    padding: 33px; 
    border-radius: 5px;
}
}
p {
    font-family: Lato;
  }
  .btn{
    padding: 10px;
    background-color: rgb(4, 4, 59);
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }