
<mat-card *ngIf="this.banpersona == true">
    <mat-card-title style="background-color:#1d3557; color:white; padding: 35px; border-radius: 6px;">
      
    <div class="form-row">
      <div class="form-group col-md-9">
        <h1>Registro de Docente/Datos Personales</h1>
      </div>
      <div class="form-group col-md-3">
       
        <button type="submit" class="btn" [routerLink]="['/gestion-docentes']" style="background: green; color: white;">Docentes</button>

      </div>
    </div>
    </mat-card-title>
    <div class="container-fluid" >
      <h1>Datos Personales</h1>
      <form [formGroup]="formPersona">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="pnombre">Primer nombre</label>
            <input type="text" class="form-control" [(ngModel)]="persona.primerNombre" id="pnombre"  formControlName="pnombre" placeholder="Ingrese el primer nombre">
          </div>
          <div class="form-group col-md-3">
            <label for="snombre">Segundo nombre</label>
            <input type="text" class="form-control" [(ngModel)]="persona.segundoNombre" id="snombre"  formControlName="snombre" placeholder="Ingrese el segundo nombre">
          </div>
          <div class="form-group col-md-3">
            <label for="papellido">Primer apellido</label>
            <input type="text" class="form-control" id="papellido"  formControlName="papellido" [(ngModel)]="persona.primerApellido" placeholder="Ingrese el primer apellido">
          </div><div class="form-group col-md-3">
            <label for="sapellido">Segundo apellido</label>
            <input type="text" class="form-control" id="sapellido"  formControlName="sapellido" [(ngModel)]="persona.segundoApellido" placeholder="Ingrese el segundo apellido">
          </div>
        </div><div class="form-row">
          <div class="form-group col-md-9">
            <label for="cedula">Cédula:</label>
          <input type="text" class="form-control" id="cedula" formControlName="cedula" [(ngModel)]="persona.cedula"  placeholder="Ingrese la cédula">
           
          </div>
          <div class="form-group col-md-3">
           
            <label for="fechan">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="fechan"  formControlName="fechan" [(ngModel)]="persona.fechaNac" placeholder="Ingrese la fecha de nacimiento">
          </div>
        </div>
        <div class="form-group">
          <label for="direccion">Dirección:</label>
          <input type="text" class="form-control" id="direccion" formControlName="direccion" [(ngModel)]="persona.direccion"  placeholder="Ingrese la dirección" >
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="telefono">Telefono:</label>
            <input type="text" class="form-control"  id="telefono" formControlName="telefono" [(ngModel)]="persona.telefono"  placeholder="123456789">
          </div>
          <div class="form-group col-md-6">
            <label for="correo">Correo:</label>
            <input type="text" class="form-control" id="correo" formControlName="correo" [(ngModel)]="persona.correo"  placeholder="Ingrese el correo eléctronico">
          </div>
        
        </div>
        <br><br>
        <div class="row text-center">
          <div class="col">
          </div>
          <div class="col">
            <button type="submit" (click)='SiguienteDatos()' class="btn" style="background: #1d3557; color: white;">Siguiente</button>
          </div>
          
        </div>

      </form>
    </div>
</mat-card>

<mat-card *ngIf="this.bantitulo == true">
  <mat-card-title style="background-color:#1d3557; color:white; padding: 35px; border-radius: 6px;">
    
  <div class="form-row">
    <div class="form-group col-md-9">
      <h1>Registro de Docente/Responsable PPP</h1>
    </div>
    <div class="form-group col-md-3">
     
      <button type="submit" class="btn" [routerLink]="['/gestion-docentes']" style="background: green; color: white;">Docentes</button>

    </div>
  </div>
  </mat-card-title>
  <div class="container-fluid" >
    <h1>Datos academicos</h1>
    <form [formGroup]="formDocente" >
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="abrevtitulo">Abreviación del Titulo</label>
          <input type="text" class="form-control" [(ngModel)]="docente.abrevTitulo" id="abrevtitulo"  formControlName="abrevtitulo" placeholder="Abreviación del titulo">
        </div>
        <div class="form-group col-md-6">
          <label for="titulo">Titulo</label>
          <input type="text" class="form-control" [(ngModel)]="docente.titulo" id="titulo"  formControlName="titulo" placeholder="Ingrese el titulo">
        </div>
        <div class="form-group col-md-3">
         
          <label for="carrera">Carrera</label>
          
          <p-dropdown 
            [options]="carreras" 
            [(ngModel)]="dropselect" 
            placeholder="Seleccione una opción"
            optionLabel="nombre" 
            [showClear]="true" 
            (onChange)="OnChange($event)"
            [(ngModel)]="docente.carrera" >
          </p-dropdown>
        </div>
        
      </div><div class="form-row">
        <div class="form-group col-md-12">
          <label for="area">Area</label>
        <input type="text" class="form-control" id="area" formControlName="area" [(ngModel)]="docente.area"  placeholder="Ingrese la area">
         
        </div>
        
      </div>
    
      <br><br>
      <div class="row text-center">
        <div class="col">
        </div>
        <div class="col">
          <button type="submit" (click)='create()' class="btn" style="background: #1d3557; color: white;">Guradar Docente</button>
        </div>
        
      </div>

    </form>
  </div>
</mat-card>